.episode-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.episode-page-search {
  width: 250px;
  height: 30px;
  border: 1px solid #006d7c;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: "Roboto";
  padding-left: 20px;
  display: block;
  margin-right: 20px;
}

.episode-filter-btn {
  margin-bottom: 50px;
  width: 135px;
  height: 30px;
  border: 1px solid #006d7c;
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 1.75;
  color: #fff;
}
@media (max-width: 450px) {
  .episode-filter-btn {
    width: 100%;
    margin-top: 15px;
  }
  .episode-page-search {
    width: 100%;
    margin: 0;
  }
}
