.characters-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 25px;
  flex-wrap: wrap;
}

.characters-search {
  margin-bottom: 20px;
  width: 150px;
  height: 28px;
  border: 1px solid #006d7c;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: "Roboto";
  padding-left: 20px;
}

.character-filter-select {
  margin-bottom: 20px;
  width: 150px;
  height: 32px;
  border: 1px solid #006d7c;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: "Roboto";
  padding-left: 20px;
}

.character-filter-btn {
  margin-bottom: 50px;
  width: 135px;
  height: 30px;
  border: 1px solid #006d7c;
  border-radius: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.75;
  color: #fff;
}
@media (max-width: 830px) {
  .character-filter-btn {
    width: 100%;
  }
}
@media (max-width: 391px) {
  .characters-filter {
    justify-content: center;
  }
}
