.characters-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 25px;
}

.characters-search {
  margin-bottom: 20px;
  width: 120px;
  height: 30px;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  border-radius: 8px;

  font-family: "Roboto";
  padding-left: 20px;
}

select {
  margin-bottom: 20px;
  width: 140px;
  height: 32px;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  border-radius: 8px;

  font-family: "Roboto";
  padding-left: 20px;
}
