.selected-location-name {
  margin: 0 auto;
  margin-bottom: 70px;
  width: 400px;
  height: 35px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 1.75;
  color: #006d7c;
  text-align: center;
}
