.some-card {
  margin-left: 0;
  height: 100%;
  background: #f9e351;
  border: 1px solid #f9e351;
  box-sizing: border-box;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.75;
  text-align: left;
  color: #006d7c;
  transition: 0.4s;
}

.some-card img {
  transition: 0.4s;
}

.some-card:hover {
  box-shadow: 1px 1px 7px 1px #505050;
  margin-top: -2px;
}

.some-card:hover img {
  transform: scale(0.9);
}

.main-characters-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
  gap: 25px;
  margin-bottom: 20px;
}
