.some-card {
  margin-left: 0;
  max-width: 180px;
  height: 180px;
  background: #f8cff8;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  border-radius: 35px;
  display: flex;
  flex-direction: column;
  padding: 30px 35px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.75;
  text-align: left;
  color: #006d7c;
}

.main-characters-cards {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 180px);
  gap: 25px;
  margin-bottom: 20px;
}
