.all-pages-btn {
  margin-bottom: 50px;
  width: 120px;
  height: 35px;
  background: #fce3fd;
  border: 1px solid #006d7c;
  border-radius: 13px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.75;
  color: #fff;
}

.active {
  background: #0c9cb0;
}

.active:hover {
  background: #e07290;
  box-shadow: 1px 1px 7px 1px #505050;
  /* margin-bottom: 2px; */
}
.previous-btn {
  display: none;
}
