.characters-page {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 100px;
  max-width: 100%;
  margin-left: 100px;
  margin-right: 100px;
  min-height: 825px;
  background: #ebebeb;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  border-radius: 13px;
}

.characters-page-logo {
  margin-bottom: 45px;
  width: 594px;
  height: 228px;
}

.characters-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
