.episode-number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.8);
  mix-blend-mode: normal;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 3px 0px;
}
