.main-page {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 100px;
  max-width: 100%;
  margin-left: 100px;
  margin-right: 100px;
  min-height: 825px;
  background: #ebebeb;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  border-radius: 13px;
}

.main-page-logo-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-page-logo {
  margin-bottom: 25px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-characters {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-left: 100px;
  margin-right: 100px;
  min-height: 300px;
}
