.character-episodes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.character-episode-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  color: #8e8e93;
  margin-bottom: 36px;
}

.character-episode-list {
  display: flex;
  flex-direction: column;
}

dl {
  width: 413px;
}

dt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: #006d7c;
  margin-bottom: 3px;
}

.character-episode-list dd {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: left;
  color: #6e798c;
  margin-bottom: 3px;
}

a {
  border: 1px solid #ff81f9;
}
