.about-series {
  margin-bottom: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.75;
  color: #006d7c;
  text-align: center;
}

.about-series-more {
  margin-bottom: 35px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.75;
  color: #006d7c;
  text-align: center;
}
