.character-information {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.character-info-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.75;
  display: flex;
  align-items: left;
  letter-spacing: 0.15px;
  color: #7f7f86;
  margin-bottom: 15px;
}

.character-info-list {
  display: flex;
  flex-direction: column;
}

dl {
  width: 250px;
}

dt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.75;
  text-align: left;
  color: #006d7c;
  margin-bottom: 3px;
}

dd {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  color: #6e798c;
  margin-bottom: 10px;
}

.character-episodes {
  display: flex;
  flex-direction: column;
  align-items: left;
  max-height: 350px;
}

.character-episode-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.75;
  display: flex;
  align-items: center;
  letter-spacing: 0.15px;
  color: #7f7f86;
  margin-bottom: 15px;
}

.selected-character-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.character-episode-list {
  max-width: 100%;
  overflow: auto;
  font-family: "Roboto";
}
.character-episode-item {
  padding: 10px 15px;
  position: relative;
}
.character-episode-item-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: #081f32;
}
.character-episode-item-text {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #6e798c;
}
.arrow-link {
  position: relative;
}
.arrow-link::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  background: url(../../../images/arrow-link.png) no-repeat;
}
.arrow-link:hover {
  background-color: #c3f8f5;
}
@media (max-width: 675px) {
  .character-information,
  dl,
  .character-episodes {
    width: 100%;
  }
}
