.selected-btn {
  position: absolute;
  left: 0;
  margin-bottom: 50px;
  width: 100px;
  height: 35px;
  background: #006d7c;
  border: 1px solid #006d7c;
  border-radius: 13px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.75;
  color: #fff;
}

.selected-btn:hover {
  background: #e07290;
  box-shadow: 1px 1px 7px 1px #505050;
  margin-top: -2px;
}
@media (max-width: 485px) {
  .selected-btn {
    top: -20px;
    left: -20px;
    max-width: fit-content;
  }
}
