.selected-character-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  /* max-width: 100%;
  margin-left: 220px;
  margin-right: 220px; */
  min-height: 825px;
  background: #f7eeb8;
  border: 1px solid #f7eeb8;
  box-sizing: border-box;
  border-radius: 13px;
  padding: 30px 100px 10px 100px;
}

.selected-character-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
}
