.selected-character-wrapper {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 100px;
  max-width: 100%;
  margin-left: 220px;
  margin-right: 220px;
  min-height: 825px;
  background: #ebebeb;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  border-radius: 13px;
  padding: 30px 100px 10px 100px;
}

.selected-character-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.selected-character-info {
  display: flex;
  justify-content: space-around;
}
