.selected-location-wrapper {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  margin-bottom: 100px;
  max-width: 100%;
  margin-left: 220px;
  margin-right: 220px;
  min-height: 825px;
  background: #ebebeb;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
  border-radius: 13px;
  padding: 30px 100px 10px 100px;
}

.selected-location-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.selected-location-btn {
  position: absolute;
  left: 5px;
  margin-bottom: 50px;
  width: 100px;
  height: 35px;
  background: #dcf8cf;
  border: 1px solid #006d7c;
  border-radius: 13px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.75;
  color: #006d7c;
}

.selected-location-type {
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 45px;
  text-align: start;
}
