.app-nav {
  max-width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 0 220px 0 220px;
}

ul {
  display: flex;
}

li {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  margin-right: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}
